<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>  
    <title>Document</title>
</head>
<body>
   <table class="table t table-bordered table-sm">
     <thead>
      <tr>
        
        <th scope="col">Employee Id</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Mail</th>
        <th scope="col">Employee Contact</th>
        <th>Actions</th>  
       </tr>
      </thead>
      <tbody>
          {% for employee in employes%}
            <tr>
              
              <td>{{ employee.eid}}</td>
              <td>{{ employee.ename}}</td>
              <td>{{ employee.email}}</td>
              <td>{{ employee.econtact}}</td>
              <td>  
                    <a href="/edit/{{ employee.id }}"><span class="btn btn-warning" >Edit</span></a>  
                    <a href="/delete/{{ employee.id }}"><span class="btn btn-danger" >Delete</span></a>  
                </td>  
            </tr>
            {% endfor%}
           
          </tbody>
   </table>
   <br>  
<br>  
<center><a href="/createEmployee" class="btn btn-primary">Add New Record</a></center>  
</body>
</html>